<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">REGISTRAR TALLER</span>
                    <form [formGroup]="tallerForm" (ngSubmit)="registrarTaller()">

                        <!-- Nombre del taller -->
                        <div class="mb-3">
                            <label for="nombreTaller" class="left-align">Nombre del Taller:</label>
                            <input type="text" class="form-control" formControlName="nombreTaller" id="nombreTaller" placeholder="Nombre del Taller" required>
                            <div class="text-danger" *ngIf="tallerForm.get('nombreTaller')?.hasError('required') && tallerForm.get('nombreTaller')?.touched">
                                <span>El nombre del taller <strong>es obligatorio</strong></span>
                            </div>
                        </div>

                        <!-- Nombre del Responsable del taller -->
                        <div class="mb-3">
                            <label for="nombreResponsable" class="left-align">Nombre del Responsable del Taller:</label>
                            <input type="text" class="form-control" formControlName="nombreResponsable" id="nombreResponsable" placeholder="Nombre del Responsable" required>
                        </div>

                        <!-- Fecha del taller -->
                        <div class="mb-3">
                            <label for="fechaTaller" class="left-align">Fecha:</label>
                            <input type="date" class="form-control" formControlName="fechaTaller" id="fechaTaller" required>
                        </div>

                        <!-- Lugar del taller -->
                        <div class="mb-3">
                            <label for="lugarTaller" class="left-align">Lugar:</label>
                            <input type="text" class="form-control" formControlName="lugarTaller" id="lugarTaller" placeholder="Lugar del Taller" required>
                        </div>

                        <!-- Cupo del taller -->
                        <div class="mb-3">
                            <label for="cupoTaller" class="left-align">Cupo:</label>
                            <input type="number" class="form-control" formControlName="cupoTaller" id="cupoTaller" placeholder="Cupo disponible" required>
                        </div>

                        <!-- Foto del Responsable del taller -->
                        <div class="mb-3">
                            <label for="fotoResponsableTaller" class="left-align">Foto del Responsable del Taller:</label>
                            <input type="file" class="form-control" (change)="onFileSelected($event)" formControlName="fotoResponsableTaller" id="fotoResponsableTaller" accept="image/*">
                        </div>

                        <!-- Experiencia del Responsable del taller -->
                        <div class="mb-3">
                            <label for="experienciaResponsableTaller" class="left-align">Experiencia Laboral del Responsable del Taller:</label>
                            <textarea class="form-control" formControlName="experienciaResponsableTaller" id="experienciaResponsableTaller" rows="3" placeholder="Escribe la experiencia"></textarea>
                        </div>

                        <!-- Botón para registrar el taller -->
                        <div class="button-container">
                            <button type="submit" [disabled]="tallerForm.invalid" class="left-button">Registrar Taller</button>
                            <button type="submit" id="homeButton" class="right-button" routerLink="/lista-taller">Volver al inicio</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
